#container{
  width:100vw;
  height:100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width:428px;
  height:926px;
  border: 1px solid black;
  /* background-color: antiquewhite; */
}

#root div{
}

/* ----up------ */


#root>div:nth-child(1){
  width:100%;
  height:20;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}


#root>div:nth-child(1)>div{
  position: relative;
  left:40px;
}





#root>div:nth-child(1)>div:nth-child(1){
  width:fit-content;
  height:fit-content;
  font-weight: bold;
  font-size: 5em;
  font-family: sans-serif;
}


#root>div:nth-child(1)>div:nth-child(2){
  width:80%;
  height:50%;
  font-size: xx-large;
}

#root>div:nth-child(1)>div:nth-child(2)>div{
  width:80%;
  height:30%;
  font-size: medium;
}



/* ---down---------- */
#root>div:nth-child(2){
  width:100%;
  height:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


#root>div:nth-child(2)>div:nth-child(1){
  width:100%;
  height:5%;
  display: flex;
  justify-content: end;
  /* align-items: flex-end; */
}

#root>div:nth-child(2)>div:nth-child(1)>div{
  width:5%;
  height:30%;
  margin: 10px;
  background-color: #c4c4c4;
}


#root>div:nth-child(2)>div:nth-child(2){
  width:90%;
  height:30%;
  border-radius: 10%;
  background-color: #c4c4c4;

}


#root>div:nth-child(2)>div:nth-child(3){
  width:90%;
  height:50%;
  border-radius: 10%;
  background-color: #c4c4c4;

}